<div class="col-md-6 col-md-offset-3">
    <table class="table table-responsive table-striped">
        <tr ng-repeat="article in vm.articles">
            <td>
                <div class="col-md-10">
                    <h3>
                        <strong>{{ article.Title}}</strong>
                     </h3>
                </div>
                <div class="col-md-2">
                    <h3>
                        <a ng-href="#/details/{{ article.ArticleId }}" class="pull-right btn btn-sm btn-primary">View</a>
                    </h3>
                </div>
                <div class="col-md-12">
                    <span class="pull-left lead">{{ article.Leader}}</span>
                </div>
                <div class="col-md-12">
                    <span class="pull-left">{{ article.Published | date:'EEE dd MMM yyyy'}} - {{ article.Channel }}</span>
                </div>
            </td>
        </tr>
    </table>
</div>
